.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
form{
  width: 500px;
}
form label{
  font-size: 16px;
  font-weight: bold;
}
.inputDiv{
  margin-bottom: 10px;
}
.inputDiv input.error {
  border-color: #ff4d4f;
}
.inputDiv .error-message {
  color: #ff4d4f;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
input{
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  border-radius: 5px;
  color: #fff;
  margin: 5px 0;
  outline: none;
}
input::placeholder{
  color: lightgrey;
}
input:focus{
  border-color:lightblue;
}
button{
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}